{% extends 'profesor.html' %}
{% block titulo %} Usuarios registrados {% endblock %}

{% block encabezado %}
  <h1>Colaboradores</h1>
  <a href="{% url 'calificar' %}">Calificar estudiante</a>
  <a href="{% url 'asistencia' %}">Registrar asistencia</a>
{% endblock %}

{% block contenido %}
<ul>
	{% for dato in usuarios %}
	<li>{{dato.username|capfirst}} - <em>{{dato.email}}</em>
		<ul>
			{% for item in evaluaciones %}
				{% if item.usuario == dato %}
					<li>{{item}}</li>
					<ul>
						{% for val in notas %}
							{% if val.usuario == dato %}
								<li>{{val}}</li>
							{% endif %}
						{% empty %}
							<li>Este usuario aún no se le ha calificado.</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% empty %}
				<li>Este usuario aún no ha registrado la evaluacion.</li>
			{% endfor %}
		</ul>
	</li>
	{% empty %}
	<li>No hay usuarios registrados, aún.</li>
	{% endfor %}
</ul>
{% endblock %}